
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Outfit:wght@100..900&family=Prata&display=swap');

@theme{
  --color-primary:#ffffff;
  --color-secondary:#ff4d5a;
}

body {
  background-color: #1a1a1a;
  font-family: "Inconsolata", monospace;
}

/* globals.css */
.border-gradient {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #ffffff, #ff4d5a) 1;
}
